lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
.next
dist


# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
lireddit-web/dist/**/*
lireddit-web/.next/**/*

# ignore yarn.lock
yarn.lock

lireddit-web/.next/build-manifest.json
lireddit-web/.next/cache/webpack/client-development/3.pack
lireddit-web/.next/cache/webpack/client-development/4.pack
lireddit-web/.next/cache/webpack/client-development/5.pack
lireddit-web/.next/cache/webpack/client-development/index.pack
lireddit-web/.next/cache/webpack/client-development/index.pack.old
lireddit-web/.next/cache/webpack/server-development/3.pack
lireddit-web/.next/cache/webpack/server-development/4.pack
lireddit-web/.next/cache/webpack/server-development/index.pack
lireddit-web/.next/cache/webpack/server-development/index.pack.old
lireddit-web/.next/server/pages-manifest.json
lireddit-web/.next/server/pages/index.js
lireddit-web/.next/server/webpack-runtime.js
lireddit-web/.next/cache/webpack/client-development/2.pack
lireddit-web/.next/static/chunks/pages/index.js
lireddit-web/.next/static/chunks/webpack.js
lireddit-web/.next/static/development/_buildManifest.js
lireddit-web/.next/static/webpack/webpack.76f49f6866b399d1.hot-update.js
lireddit-web/.next/trac